@import url("fonts.css"); 
body {
	
    font-family: 'didact_gothicregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size: 20px;
    color: #252A32;
    background-color: #fff;
    letter-spacing: 1px;
}
html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-transform: none;
    text-decoration: none;
}

h2 {
	font-family: 'didact_gothicregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 38px;
	line-height: 66px;
    text-shadow: rgba(0,0,0,.2) 0 0 1px;
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
}


.intro h2 {
	text-align:left;
	padding-top: 5.4em;
}

h3 {
	font-family: 'tex_gyre_bonumregular', "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-weight:600;
	color: #252A32;
	font-size: 42px;
	margin-bottom: 26px;
	letter-spacing: -1px;
	text-align:left;
	line-height: 1.4em;
}

p {
	text-align:left;
	line-height: 1.8em;
}

a {
    color: #252A32;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration:underline;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #3149FE;
}

.light {
    font-weight: 400;
}

.float-right {
	float: right!important;
}

.circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 2px 0 0;
	border-radius: 7px;
	vertical-align: middle;
}
.bullet {
	background-color: #FF807E;
}

.client {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.navbar-custom .navbar-brand {
    font-weight: 400;
    margin-top:4px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

@media(min-width:768px) {
	
	
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
	
	.navbar-nav {
		padding: 20px 0;
		float: left;
		margin:0
    }

    
    .navbar-custom {
        padding: 30px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        
        background-color: #F9F9FF;
        color:#252A32;
    }



	.navbar-custom .nav li a {
		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;
		font-weight: 600;
		text-decoration: none;
		font-size: 16px;
		text-transform: uppercase;
		
	}

	.navbar-custom .nav li a:hover {
		outline: 0;
		color: rgba(0,0,0,.3);
		background-color: transparent;
	}

	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li a:active {
		outline: 0;
		background-color: transparent;
	}

	.navbar-custom .nav li.active, .navbar-custom .nav li.active a:hover, .navbar-custom .nav li.active a{
		color:#252A32;
		background: #FF807E;
		-moz-border-radius: 32px;
		-webkit-border-radius: 32px;
		border-radius: 32px;
		transition:none;
		outline: none;
		letter-spacing: 1px;
	}

}



/* Portrait phones and smaller */
@media(max-width:480px) {
	.intro h2 {
		margin-top:60px;

		}
	
	h2 {
		font-size: 1.6em;
		line-height: 40px;

		}
	svg.img-responsive.logo {
		height: 54px;
		margin: 4px 18px;
		width: 131px;
		}
		
	.fa {
	margin-top: 10px;
		}
	.navbar-custom .nav li.active a {
	color: #FF807E;
	background-color: #252A32;
		}		

}




@media(min-width:768px) {

svg.img-responsive.logo {
		width: 200px;
}

.navbar-custom.top-nav-collapse{
}

.navbar-custom.top-nav-collapse .nav li a:hover {
	outline: 0;
	color: rgba(255,255,255,.8);
	background-color: transparent;
}

.content-section {
    padding-top: 110px;
    padding-bottom: 115px;
}

.first-section {
    background-image: url("../img/dylan.png");
	background-position: top right;
	background-repeat: no-repeat;
    background-color: #F9F9FF;
    padding-top: 16px;
	padding-bottom: 124px;
}


#about.content-section h3{
    text-transform:uppercase;
    font-size: 18px;
	padding-top: 4px;
}

#about.content-section .col-lg-4{
    padding-left:20px;
    padding-right:20px;
}

#about.content-section p{
    text-align: justify;
    text-justify: inter-word;
}

#contact.content-section {
    background-color: #fff;
}

.center-img svg{
	margin-left:-86px;
}

.divider {
	margin-bottom:104px;
}

#work.content-section p {
	padding:22px 0 0;
}

.text-lrg{
	font-size:1.6em;
}

#work {
	background-color: #F9F9FF;
}

#work ul {
	float:left;
	margin:0; 
	padding:0; 
	list-style:none;
}
#work li {
	float:left;
	margin-right: 18px;
	margin-top: 16px;
	color: #3149FE;
	font-size:16px;
}
#work li:after {

display: inline-block;
	width: 8px;
	height: 2px;
	margin: 0 2px 0 0;
	vertical-align: middle;
}

#work .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width:500px;
}

#work .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(84, 204, 205, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#work .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top:-30px;
}


#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr {
   	width: 2px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr .rl {
    width: 2px;
    height: 60px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-content .list-inline>li {
    padding-right: 10px;
    padding-left: 10px;
}


#work * {
    z-index: 2;
}

.btn {
    border-radius: 0px;
    padding: 10px 66px;
    text-transform: uppercase;
    font-family: "soleil","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    padding: 10px 66px;
	border-radius: 0px;
    margin-top: 20px;
    border: none;
    color: #fdfdfd;
    background-color: #252A32;
    white-space: normal;
}

.btn-default:hover,
.btn-default:focus {
	border: none;
    color: #252A32;
    background-color: #FF807E;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 44px 0;
    background-color: #FF807E;
}

footer p {
    margin: 0;
}

footer .copyright p{
    margin-top: 18px;
}

ul.icons {
    cursor: default;
}

ul.icons li{
	padding-left:20px;
	padding-right:20px;
}

.icon {
    text-decoration: none;
    position: relative;
}

.icon > .label {
    display: none;
}  

.icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
    background: #252A32;
    color: #fff;
}

.icon.circle:hover {
	background-color:#FF807E;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #252A32;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #252A32;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


::-moz-selection {
    text-shadow: none;
    background: #FF807E;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #FF807E;
    background: rgba(255,255,255,.2);
}

::-moz-selection {
    background: #FF807E;
}

::selection {
    background: #FF807E;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



