@import url("fonts.css"); 
body {
    width: 100%;
    height: 100%;
    font-family: "soleil","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    color: #252A32;
    background-color: #f9f9fa;
}
html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    letter-spacing: 1px;
}

h2 {
	font-family: 'tex_gyre_bonumregular', "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-size: 2.4em;
	line-height: 52px;
	margin: 0 0 48px;
	color:#252A32;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -webkit-font-smoothing: antialiased;

}


.intro h2 {
	margin: 0 0 60px;
}

p {
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 2.0;
    text-align:left;
}

p a {text-decoration:underline;}

a {
    color: #404242;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FF807E;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "soleil","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#fff;
    background-color: #252A32;
}

.navbar-custom .navbar-brand {
    font-weight: 400;
    margin-top:4px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

@media(min-width:768px) {
	.navbar-nav {
		padding: 20px 0;
		float: left;
		margin:0
    }

    
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: #fafbfb;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 20px 0;
        border-bottom: 1px solid #252A32;
        background-color: #fafbfb;
        color:#252A32;
    }

}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    font-weight: 400;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


/* Banner */

	@-moz-keyframes reveal-banner {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes reveal-banner {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes reveal-banner {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes reveal-banner {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

@media(min-width:768px) {

svg.img-responsive.logo {
		width: 200px;
		}


.bgimage {
	width:100%;
	height:660px;
	background: url('../img/user-testing.jpg');
	background-repeat: no-repeat;
	background-position: 0 120px;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.bgimage h5 {
	color:white;
	text-shadow:2px 2px #333;
}


.navbar-custom.top-nav-collapse{
	background-color: #fafbfb;
}


.navbar-custom.top-nav-collapse .nav li.active a, body#page-top.page .navbar-custom.top-nav-collapse .nav li.active a:hover {
}

.navbar-custom .nav li.active a, body#page-top.page .navbar-custom .nav li.active a:hover {
	background-color: rgba(0,0,0,.1);
	transition: none;
	color: rgba(0,0,0);
	outline: none;
	
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: rgba(0,0,0,.3);
	background-color: transparent;
}

.navbar-custom.top-nav-collapse .nav li a:hover {
	outline: 0;
	color: rgba(255,255,255,.8);
	background-color: transparent;
}

.content-section {
    padding-top: 110px;
    padding-bottom: 115px;
}

.first-section {
    padding-top: 160px;
    padding-bottom: 115px;
}


#about.content-section h3{
    text-transform:uppercase;
    font-size: 18px;
	padding-top: 4px;
}

#about.content-section .col-lg-4{
    padding-left:20px;
    padding-right:20px;
}

#about.content-section p{
    text-align: justify;
    text-justify: inter-word;
}

#contact.content-section {
    background-color: #fff;
}

.workshop-item {
	margin-bottom:60px;
}

#work.content-section {
    background-color: #e2e5ea;
}

#work.content-section p {
	padding:22px 0 0;
}

.work-title {
	font-size: 18px;
    padding: 20px 0 0;
    margin: 0 0 5px;
}

.text-lrg{
	font-size:1.8em;
}

.text-lrg a{
	text-decoration:none;
}

#work .portfolio-item {
    right: 0;
    margin: 0 0 40px;
}

#work .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width:500px;
}

#work .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(84, 204, 205, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#work .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top:-30px;
}


#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr {
   	width: 2px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#work .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr .rl {
    width: 2px;
    height: 60px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-content .list-inline>li {
    padding-right: 10px;
    padding-left: 10px;
}


#work * {
    z-index: 2;
}

.btn {
    border-radius: 0px;
    padding: 10px 66px;
    text-transform: uppercase;
    font-family: "soleil","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    padding: 10px 66px;
	border-radius: 0px;
    margin-top: 20px;
    border: none;
    color: #fdfdfd;
    background-color: #252A32;
    white-space: normal;
}

.btn-default:hover,
.btn-default:focus {
	border: none;
    color: #252A32;
    background-color: #FF807E;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 40px 0;
    background-color: #FF807E;
}

footer p {
    margin: 0;
}

footer .copyright p{
    font-size: 12px;
    text-align:center;
    font-weight:500;
    margin-top: 10px;
}

ul.icons {
    cursor: default;
}

ul.icons li{
	padding-left:20px;
	padding-right:20px;
}

.icon {
    text-decoration: none;
    position: relative;
}

.icon > .label {
    display: none;
}  

.icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
    background: #252A32;
    color: #fff;
}

.icon.circle:hover {
	background-color:#FF807E;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #252A32;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #252A32;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


::-moz-selection {
    text-shadow: none;
    background: #FF807E;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #FF807E;
    background: rgba(255,255,255,.2);
}

::-moz-selection {
    background: #FF807E;
}

::selection {
    background: #FF807E;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	h2 {
		font-size: 2em;
		line-height: 40px;
		margin-top: 110px;

		}
	svg.img-responsive.logo {
		height: 54px;
		margin: 4px 18px;
		width: 131px;
		}
		
	.fa {
	margin-top: 10px;
		}
	.navbar-custom .nav li.active a {
	color: #FF807E;
	background-color: #252A32;
		}
		

}

