@import url("fonts.css"); 
body {
	
    font-family: 'didact_gothicregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size: 20px;
    color: #252A32;
    background-color: #fff;
    letter-spacing: 1px;
}
html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-transform: none;
    text-decoration: none;
}

h2 {
	font-family: 'didact_gothicregular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 38px;
	line-height: 66px;
    text-shadow: rgba(0,0,0,.2) 0 0 1px;
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
}


header {
	padding-top:16rem;
}

header.home-page {
	overflow: hidden;
    background-image: url('../img/dylan@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 65vw center;
}

h3 {
	font-family: 'tex_gyre_bonumregular', "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-weight:bolder;
	color: #252A32;
	font-size: 42px;
	margin-bottom: 26px;
	letter-spacing: -1px;
	text-align:left;
	line-height: 1.4em;
}

p {
	text-align:left;
	line-height: 1.8em;
}

a {
    color: #252A32;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration:underline;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #3149FE;
}

.btn-outline-primary {
	color: #252A32;
	border-color: #252A32;
	text-decoration:none;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #252A32;
	border-color: #252A32;
	text-decoration:none;
}


.btn-secondary {
	color: #252A32;
	background-color: #FF807E;
	border-color: #FF807E;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #252A32;
	border-color: #252A32;
}

.btn {
	border-radius: 32px;
}

.btn-md {
	padding: 0.45rem 4rem;
	text-transform: uppercase;
	font-size: 1.25rem;
	line-height: 1.5;
}



.btn-lg {
	padding: 0.75rem 3rem;
	text-transform: uppercase;
	font-size: 1.25rem;
	line-height: 1.5;
}

.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.text-lrg{
	font-size:1.6em;
}

section {
	padding: 150px 0;
}

.page {
	background-color: #F9F9FF;
}

.page-top {
	padding: 150px 0;
}

header {
	background-color: #F9F9FF;
}

header.page{
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F9F9FF;
  transform: skewY(13deg);
  transform-origin: top right;
}

.navbar {
	padding: 2rem 1rem;
}


.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
	background-color: #F9F9FF;
	color: #252A32;
}

.navbar-light .navbar-nav .nav-link.active {
	color:#252A32;
	background: #FF807E;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	letter-spacing: 1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.nav-link {
	display: block;
	padding: 0.8rem 1rem;
}


li.nav-item a {
	font-weight: 600;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}

.breadcrumb {
	background: none;
}

.featured-projects li.breadcrumb-item {
	margin-right:0;
}

.breadcrumb-item.active {
	color: #A8AAAD;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #A8AAAD;
	content: "/";
}

hr {
	visibility: hidden;
}

.projects-section {
	background-color: #F9F9FF;
}

.projects-section p {
	padding:22px 0 0;
}

.projects-section {
	background-color: #F9F9FF;
}

.projects-section ul, .featured-projects ul {
	float:left;
	margin:0; 
	padding:0; 
	list-style:none;
	line-height:10px;
}
.projects-section li, .featured-projects li {
	float:left;
	margin-right: 18px;
	margin-top: 16px;
	color: #3149FE;
	font-size:16px;

}
.projects-section li:after, .featured-projects li:after {

display: inline-block;
	width: 8px;
	height: 2px;
	margin: 0 2px 0 0;
	vertical-align: middle;
}

.projects-section .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width:500px;
}

.projects-section .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(84, 204, 205, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.projects-section .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

.projects-section .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top:-30px;
}


.projects-section .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr {
   	width: 2px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.projects-section .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content .lr .rl {
    width: 2px;
    height: 60px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-content .list-inline>li {
    padding-right: 10px;
    padding-left: 10px;
}


.projects-section * {
    z-index: 2;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
}

.page-item:last-child .page-link {
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
}


.page-link {
	position: relative;
	display: block;
	padding: 0.9rem 1.6rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #3149FE;
	background-color: #fff;
	border: 1px solid #A8AAAD;
	text-decoration: none;
}

.page-link:hover {
	z-index: 2;
	color: #fff;
	text-decoration: none;
	background-color: #3149FE;
	border-color: #dee2e6;
}

.circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 2px 0 0;
	border-radius: 7px;
	vertical-align: middle;
}
.bullet {
	background-color: #FF807E;
}

.client {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}


footer {
    padding: 44px 0;
    background-color: #FF807E;
}

footer p {
    margin: 0;
}




@media(max-width:768px) {
	section {
		padding: 60px 0;
	}

	.about-section .row.about-story {
		padding-bottom: 0px !important;
	}
	
	h3{
		font-size: 38px;
		margin-bottom: 2px;
		letter-spacing: 0px;
		text-align: left;
	
	}
	
	h3 a{
		 color:#14171b;
	
	}
	
	.navbar-light .navbar-toggler {
		color: #252A32;
		background: #FF807E;
		-moz-border-radius: 32px;
		-webkit-border-radius: 32px;
		border-radius: 32px;
		letter-spacing: 1px;
	}
	.navbar {
		padding: 1rem;
		background-color: #F9F9FF;
	}
	
	.navbar-collapse {
		margin-top: 2rem;
	}
	
	nav.navbar .navbar-collapse.show {
		border-bottom: 1px #252A32 solid;
	}
	
	.navbar svg {
		height: 54px;
		width: 131px;
	}
	
	svg header h2 {
		font-size: 1.4em;
		line-height: 44px;
		padding-top:7rem;

	}
	
	header {
	padding-top: 11rem;
	}	
	
	header.home-page {
		overflow: hidden;
		background-image: url('../img/dylan@2x.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left bottom;
		padding-bottom: 43rem;
    
    }
    
    .about-story svg{
		padding:0;


}
    }

	.text-lrg {
		font-size: 1.2em;
	}
	
	footer .copyright {
		padding-top: 30px;
	}

}

/* Portrait phones and smaller */
@media(max-width:480px) {

	.navbar {
		padding: 1rem;
		background-color: #F9F9FF;
	}
	
	.navbar-collapse {
		margin-top: 2rem;
	}
	
	nav.navbar .navbar-collapse.show {
			border-bottom: 1px #252A32 solid;
	}
	
	.navbar svg {
		height: 54px;
		width: 131px;
	}
	
	header {
		padding-top:1rem;
	}
	
	header h2 {
		font-size: 1.4em;
		line-height: 44px;
		padding-top:7rem;

	}
	header.home-page {
		overflow: hidden;
		background-image: url('../img/dylan@2x.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left bottom;
		padding-bottom: 23rem;
    
    }
	header.page .projects-page{
		height:440px;
	}
	
	.projects-page .header-bg {
		height: 70%;

	}
	footer .copyright {
		padding-top: 30px;
		font-size: 16px;
		line-height: 1.8em;
	}

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}








